<div class="col-md-12 horizontal-scroll" ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+40)" resize>
    <div class="row">
        <div class="col-md-12 content-column">
            <div class="detail-form">
                <label class="detail-form-label">App Name</label>
                <div class="detail-form-label-input">
                    <input ng-disabled="!canModify" ng-model="clientJSON.clientName" class="form-control"/>
                </div>
            </div>

            <div class="detail-form" ng-show="clientJSON.clientId !== undefined">
                <label class="detail-form-label">Client Id</label>
                <div class="detail-form-label-input">
                    <!--<label class="form-control detail-form-value-full">{{clientJSON.clientId}}</label>-->
                    <textarea style="resize: none; background-color: #fff; cursor: text; border-color:#f4f4f4" class="form-control" readonly>{{clientJSON.clientId}}</textarea>
                </div>
            </div>

            <div class="detail-form" ng-show="clientJSON.clientSecret !== undefined && clientJSON.clientSecret !== null">
                <label class="detail-form-label">Client Secret</label>
                <div class="detail-form-label-input">
                    <textarea style="resize: none; background-color: #fff; cursor: text; border-color:#f4f4f4" class="form-control" readonly>{{clientJSON.clientSecret}}</textarea>
                </div>
            </div>

            <div class="detail-form">
                <label class="detail-form-label">App Launch URI</label>
                <div class="detail-form-label-input">
                    <input ng-disabled="!canModify" ng-model="clientJSON.launchUri" class="form-control"/>
                </div>
            </div>

            <div class="detail-form">
                <label class="detail-form-label">App Redirect URIs</label>
                <div class="detail-form-label-input">
                    <input ng-disabled="!canModify" ng-model="clientJSON.redirectUris" class="form-control"/>
                    <label class="create-form-description" style="font-style: italic">Comma separated list of redirect URIs eg. 'http://myhost.com/my-app/,http://myhost.com/my-other-path/app/'</label>
                </div>
            </div>

            <div class="detail-form">
                <label class="detail-form-label">App Logo</label>
                <div class="detail-form-label-input">
                    <label ng-disabled="!canModify" class="btn btn-basic btn-md"><input type="file" name="file" onchange="angular.element(this).scope().updateFile(this.files)" required/><i class="fa fa-upload fa-lg"></i><span> Upload Image</span></label>
                    <!--<input ng-disabled="!canModify" type="file" name="file" style="margin-bottom: 5px" onchange="angular.element(this).scope().updateFile(this.files)"/>-->
                    <label style="margin-top: 5px">(width: 210px X height: 150px)</label>
                    <div class="thumbnail">
                        <img ng-show="clientJSON.logo" ng-src="{{clientJSON.logo}}">
                        <img ng-hide="clientJSON.logo || !clientJSON.logoUri" ng-src="{{clientJSON.logoUri}}">
                        <label ng-hide="clientJSON.logoUri || clientJSON.logo" style="margin-top: 5px">No Image</label>
                        <img ng-hide="clientJSON.logoUri || clientJSON.logo" src="static/images/HSPCSandboxNoIconApp-512.png">
                    </div>
                </div>
            </div>

            <div class="detail-form">
                <label class="detail-form-label">Scopes</label>
                <div class="detail-form-label-input with-info">
                    <input ng-disabled="!canModify" ng-model="clientJSON.scope" class="form-control"/>
                    <label class="create-form-description" style="font-style: italic">Space separated list of scopes eg. 'launch patient/*.* openid profile'</label>
                </div>
                <a href='http://docs.smarthealthit.org/authorization/scopes-and-launch-context/' target="_blank" class='float-right-dark-btn'>
                    <img src="static/images/circle_info-128.png" class="info-btn">
                </a>
            </div>

            <div class="detail-form">
                <label class="detail-form-label">Sample Patients</label>
                <div class="detail-form-label-input">
                    <input ng-disabled="!canModify" ng-model="clientJSON.samplePatients" class="form-control"  placeholder="e.g.: Patient?_id=SMART-1032702,SMART-621799"/>
                    <label class="create-form-description" style="font-style: italic">This is a FHIR query to limit the Patient Picker on launch.</label>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content-column">
            <div class="btn btn-basic btn-md" ng-click="quickLaunch(selected.selectedApp, clientJSON.samplePatients)"><i class="fa fa-external-link fa-lg"></i> Launch</div>
            <div class="btn btn-basic btn-md" ng-show="canModify" ng-click="save()"><i class="fa fa-save fa-lg"></i> Save</div>
            <div class="btn btn-delete btn-md" ng-show="canModify" ng-disabled="!canDelete" ng-click="delete()"><i class="fa fa-trash-o fa-lg"></i> Delete</div>
        </div>
    </div>

</div>
