<div ng-controller="CreateSandboxController" class="container-fluid full-screen create-form" resize
     ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+10)">
    <div class="row create-box">
        <div class="col-lg-12 create-section">

            <div class="columns-group">
                <div class="single-column">
                    <div class="create-form-group">
                        <label class="create-form-label">Sandbox ID<span class="required">*</span></label>
                        <input ng-model="sandboxId" class="create-form-input-box red-popover" popover-is-open="showError" popover-trigger="none" popover-placement="right" uib-popover="{{invalidMessage}}" required/>
                        <i ng-show="!isIdValid" class='create-form-input-icon fa fa-close fa-lg'></i>
                        <label class="create-form-description">Your sandbox will be available at {{baseUrl}}/{{tempSandboxId}}</label>
                    </div>
                    <div class="create-form-group">
                        <label class="create-form-label">Sandbox Name</label>
                        <input ng-model="sandboxName" class="create-form-input-box"/>
                        <i ng-show="!isNameValid" class='create-form-input-icon fa fa-close fa-lg'></i>
                        <label class="create-form-description">e.g., NewCo Sandbox</label>
                    </div>
                    <div class="create-form-group">
                        <label class="create-form-label">Sandbox Version</label>
                        <select class="create-form-select"  ng-model="schemaVersion"
                                ng-options="version.version as version.name for version in sandboxSchemaVersions">
                        </select>
                        <a href={{docLink('sandboxVersions')}} target="_blank"><i class="fa fa-question-circle-o"></i></a>
                        <label class="create-form-description">Choose a version of the FHIR Standard</label>
                    </div>
                    <div class="create-form-group">
                        <label class="create-form-label">Allow Open FHIR Endpoint </label>
                        <input type="checkbox" class="create-form-input-box" ng-model="sandboxAllowOpenAccess"/>
                    </div>
                    <div class="create-form-group">
                        <label class="create-form-label">Description</label>
                        <textarea class="create-form-description-box" ng-model="sandboxDesc"></textarea>
                        <!--<input ng-model="sandboxDesc" class="create-form-input-box"/>-->
                        <label class="create-form-description">e.g., This sandbox is the QA environment for NewCo.</label>
                    </div>
                    <div class="form-group">
                        <label class="detail-form-label" style="width: 100%"><span class="required">*</span>Indicates a required field</label>
                    </div>

                </div>
                <div class="single-column">
                    <div class="create-form-info-box">
                        <h1>{{title}}</h1>
                        <p>{{description}}</p>
                        <ul class="feature-checkmark-list">
                            <li class="feature-checkmark-list--item" ng-repeat="item in checkList">{{item}}</li>
                        </ul>

                        <p>{{bottomNote}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 create-section " style="border-top: 1px solid #ccc;">
                <button class="form-btn btn btn-basic" type="button" ng-disabled="!createEnabled" ng-click="createSandbox()">Create Sandbox</button>
                <button class="form-btn btn btn-cancel" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>