<div ng-controller="DataManagerController">

    <div class="row">
        <uib-tabset class="sandbox-nav-tabs">
            <uib-tab index="0" heading="Query Browser">
                <div class="data-tab-content" ng-include="'static/js/templates/dataQueryBrowser.html'"></div>
            </uib-tab>
            <uib-tab ng-show="canManageData()" index="1" heading="Import">
                <div class="data-tab-content" ng-include="'static/js/templates/dataImport.html'"></div>
            </uib-tab>
            <uib-tab ng-show="canManageData()" index="2" heading="Export">
                <div class="data-tab-content" ng-include="'static/js/templates/dataExport.html'"></div>
            </uib-tab>
        </uib-tabset>
    </div>

</div>
