<div class="col-md-12 horizontal-scroll" ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+40)" resize >
    <div class="row">
        <div class="col-md-12 content-column">
            <div class="detail-description">{{desc.title}}</div>

            <div class="detail-form-line-inline">
                <label class="detail-form-label-inline">Description:</label>
                <label ng-hide="editDesc.showEdit" class="detail-form-value-inline">{{selectedScenario.description}}</label>
                <a ng-hide="editDesc.showEdit || !canDelete" ng-click="editDesc.showEdit = true" class='float-right-dark-btn'>
                    <i class='fa fa-pencil fa-lg'></i>
                </a>
                <input ng-show="editDesc.showEdit" class="detail-form-label-input-inline" ng-model="editDesc.new"/>
                <a ng-show="editDesc.showEdit" ng-click="cancelDesc(selectedScenario)" class='float-right-dark-btn'>
                    <i class='fa fa-remove fa-lg'></i>
                </a>
                <a ng-show="editDesc.showEdit" ng-click="updateDesc(selectedScenario)" class='float-right-dark-btn'>
                    <i class='fa fa-check fa-lg'></i>
                </a>
            </div>

            <div class="title-box">
                <div class="title">Persona</div>
                <div class="content">
                    <div class="detail-form">
                        <label class="detail-form-label">Launch As:</label>
                        <label class="detail-form-value">{{selectedScenario.userPersona.fhirName}}</label>
                    </div>
                    <div class="detail-form">
                        <label class="detail-form-label">User Id:</label>
                        <label class="detail-form-value">{{selectedScenario.userPersona.ldapId}}</label>
                    </div>
                    <div class="detail-form" >
                        <label class="detail-form-label">FHIR Resource Type:</label>
                        <label class="detail-form-value"><i class='fa' ng-class="selectedScenario.userPersona.resource == 'Patient' ? 'fa-bed' : 'fa-user-md'"></i> {{selectedScenario.userPersona.resource}}</label>
                    </div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">With Context</div>
                <div class="content">
                    <div class="detail-form">
                        <label class="detail-form-label">Patient:</label>
                        <label class="detail-form-value" ng-show="canManageData()"><a ng-click="launchPatientDataManager(selectedScenario.patient)">{{selectedScenario.patient.name}}</a></label>
                        <label class="detail-form-value" ng-show="!canManageData()">{{selectedScenario.patient.name}}</label>
                    </div>
                    <div class="detail-form">
                        <label class="detail-form-label">Encounter:</label>
                        <label class="detail-form-value">None</label>
                    </div>
                    <div class="detail-form">
                        <label class="detail-form-label">Location:</label>
                        <label class="detail-form-value">None</label>
                    </div>

                    <div style="height: 150px">
                        <div class="detail-form">
                            <label class="detail-form-label full-line">Additional Context Parameters</label>
                        </div>
                        <div ng-include="'static/js/templates/contextKeyValueTable.html'"></div>
                    </div>
                </div>
            </div>

            <div class="title-box">
                <div ng-show="!isCustom" class="title">App</div>
                <div ng-show="isCustom" class="title">Custom App</div>
                <div ng-show="!isCustom" class="content">
                    <div class="detail-form">
                        <label class="detail-form-label full-line">{{selectedScenario.app.authClient.clientName}}</label>
                    </div>
                    <div class="thumbnail">
                        <img ng-show="selectedScenario.app.logoUri" ng-src="{{selectedScenario.app.logoUri}}">
                        <img ng-hide="selectedScenario.app.logoUri" src="static/images/HSPCSandboxNoIconApp-512.png">
                    </div>
                </div>
                <div ng-show="isCustom" class="content">
                    <div class="detail-form">
                        <label class="detail-form-label full-line">Client ID:  <b>{{selectedScenario.app.authClient.clientId}}</b></label>
                    </div>
                    <div class="detail-form-line-inline">
                        <label class="detail-form-label-inline">Launch URI: </label>
                        <label ng-hide="editLaunchUri.showEdit" class="detail-form-value-inline">{{selectedScenario.app.launchUri}}</label>
                        <a ng-hide="editLaunchUri.showEdit" ng-click="editLaunchUri.showEdit = true" class='float-right-dark-btn'>
                            <i class='fa fa-pencil fa-lg'></i>
                        </a>
                        <input ng-show="editLaunchUri.showEdit" class="detail-form-label-input-inline" ng-model="editLaunchUri.new"/>
                        <a ng-show="editLaunchUri.showEdit" ng-click="cancelUri(selectedScenario)" class='float-right-dark-btn'>
                            <i class='fa fa-remove fa-lg'></i>
                        </a>
                        <a ng-show="editLaunchUri.showEdit" ng-click="updateUri(selectedScenario)" class='float-right-dark-btn'>
                            <i class='fa fa-check fa-lg'></i>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content-column">
            <div class="btn btn-basic btn-md" ng-click="launch(selectedScenario)"><i class="fa fa-external-link fa-lg"></i> Launch</div>
            <div class="btn btn-delete btn-md" ng-show="canDelete" ng-click="delete(selectedScenario)"><i class="fa fa-trash-o fa-lg"></i> Delete</div>
        </div>
    </div>
</div>
