<div class="modal-header">
    <div class="slim-page-header modal-title">Save Launch Scenario</div>
</div>
<div class="modal-body">
    <div class="modal-form">
        <div class="form-group">
            <label class="detail-form-label">Description</label>
            <div class="detail-form-label-input">
                <input ng-model="scenario.description" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="detail-form-label">Persona</label>
            <label class="detail-form-value">{{scenario.userPersona.fhirName}}</label>
        </div>

        <div class="form-group">
            <label class="detail-form-label">Patient</label>
            <label class="detail-form-value">{{scenario.patient.name}}</label>
        </div>

        <div class="form-group">
            <label class="detail-form-label">App</label>
            <label class="detail-form-value">{{scenario.app.authClient.clientName}}</label>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="form-btn btn btn-basic" type="button" ng-click="saveLaunchScenario(scenario, true)"><i class="fa fa-external-link fa-lg"></i> Just Launch</button>
    <button class="form-btn btn btn-basic" type="button" ng-click="saveLaunchScenario(scenario)"><i class="fa fa-save fa-lg"></i> Save</button>
    <button class="form-btn btn btn-cancel" type="button" ng-click="cancel()">Cancel</button>
</div>
