<div id="patient-results" ng-controller="PatientSearchController">
    <div class="box" style="margin-bottom: 5px">
        <div class="row">
            <div class="col-md-12 content-column-vertical">
                <div class="pull-left basic-text">Search for patients by name</div>
                <div class="btn btn-basic btn-md pull-right" ng-click="skipPatient()" ng-show="showing.noPatientContext">Continue without a Patient <i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input
                        id="patient-search"
                        class="input-long basic-text"
                        type="text"
                        autofocus
                        focus-me="shouldBeOpen"
                        contenteditable
                        focus-on-key="191"
                        ng-model="searchterm"
                        placeholder="john smith ..."/>
            </div>
        </div>
        <div class="row" ng-show="(showing.createPatient && !showing.noPatientContext) && !showing.isModal && canManageData()">
            <div class="col-md-12 content-column-vertical" ng-controller="CreateNewPatientCtrl">
                <a class="pull-left" ng-click="open()">Create new patient</a>
            </div>
        </div>
        <div class="row table-container" resize ng-style="showing.isModal ? {'height': '380px'} : (scrollScreen(size.screenH, size.screenW) ? {'min-height': '340px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+200))">
            <div class="col-md-12 result">
                <div id="patient-results-list" ng-cloak>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <td ng-show="showPatientId">
                                <a href="#"
                                   ng-click="toggleSort('id');">
                                    Patient Id
                                    <span ng-show="sortSelected == 'id' && !sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes"></span>
                                    <span ng-show="sortSelected == 'id' && sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="toggleSort('name')">
                                    Name
                                    <span ng-show="sortSelected == 'name' && !sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes"></span>
                                    <span ng-show="sortSelected == 'name' && sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="toggleSort('gender');">
                                    Gender
                                    <span ng-show="sortSelected == 'gender' && !sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes"></span>
                                    <span ng-show="sortSelected == 'gender' && sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="toggleSort('age');">
                                    Age
                                    <span ng-show="sortSelected == 'age' && !sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes"></span>
                                    <span ng-show="sortSelected == 'age' && sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                </a>
                            </td>
                        </tr>
                        </thead>
                        <tr class="patient-row item-selectable" ng-click="select($index)" ng-repeat="patient in patients" ng-class="{selected : patient === selected.selectedPatient}">
                            <td ng-show="showPatientId">
                                <span ng-bind="patient.id"></span>
                            </td>
                            <td class="name">
                                <span ng-bind="patient | nameFamilyGiven"></span>
                            </td>
                            <td class="gender" ng-bind-html="patient.gender | capFilter">
                            </td>
                            <td>
                                <i ng-bind="patient.birthDate | ageFilter "></i>
                            </td>
                        </tr>
                    </table>

                    <div ng-show="!showing.searchloading && (patients.length==0)">
                        <p>No matches, try broadening your search.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-show="hasPrev() || hasNext()" style="text-align: center">Showing {{count.start}} to {{count.end}} of {{count.total}}</div>
            <div ng-show="hasPrev()" class="btn btn-basic btn-md" style="float: left" ng-click="loadMore('prevPage')"><i class="fa fa-chevron-left fa-lg"></i> Prev</div>
            <div ng-show="hasNext()" class="btn btn-basic btn-md" style="float: right" ng-click="loadMore('nextPage')">Next <i class="fa fa-chevron-right fa-lg"></i></div>
        </div>
    </div>
</div>
