﻿<div class="modal-header">
  <div class="slim-page-header">Choose a Patient</div>
  <a href='#' class='float-right-white-btn' ng-click="cancel()"><i class='fa fa-remove fa-lg'></i></a>
</div>
<div class="modal-body">
  <div ng-include="'static/js/templates/patientSearch.html'"></div>
</div>
<div class="modal-footer">
  <!--<button class="form-btn btn btn-cancel" type="button" ng-click="cancel()">Cancel</button>-->
</div>
