<div class="modal-header">
    <div class="slim-page-header modal-title">{{title}}
        <a href={{docLink('sandboxPersona')}} target="_blank" class="float-right-white-btn"><i class="fa fa-question-circle-o"></i></a>
    </div>
</div>
<div class="modal-body">
    <div class="modal-form">
        <div class="form-group">
            <label class="detail-form-label">Display Name</label>
            <label class="detail-form-value" style="width: 85%; border: none">{{user.ldapName}}</label>
            <!--<div class="detail-form-label-input">-->
                <!--<input ng-model="user.ldapName" class="form-control"/>-->
            <!--</div>-->
        </div>
        <div class="form-group">
            <label class="detail-form-label">User Id</label>
            <div class="detail-form-input-with-validation">
                <!--<input type="text" ng-model="persona.userId" id="userid" class="form-control red-popover" popover-is-open="showError" popover-trigger="none" popover-placement="right" uib-popover="{{invalidMessage}}" required/>-->
                <!--<input type="text" id="sandboxid" value="@{{sandboxId}}" disabled/>-->
                <input ng-model="user.ldapId" class="form-control red-popover" popover-is-open="showError" popover-trigger="none" popover-placement="right" uib-popover="{{invalidMessage}}" required/>
                <i ng-show="!isIdValid" class='detail-form-input-icon fa fa-close fa-lg'></i>
                <label class="detail-form-description" style="font-size: 14px">Your persona userId will be <strong>{{tempUserId}}@{{sandboxId}}</strong></label>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="detail-form-label">User Id</label>-->
            <!--<div class="detail-form-label-input">-->
                <!--<input type="text" ng-model="persona.userId" id="userid" />-->
                <!--<input type="text" id="sandboxid" value="@{{sandboxId}}" disabled/>-->
                <!--&lt;!&ndash;<input ng-model="persona.userId" class="form-control"/>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label class="detail-form-label">Password</label>
            <div class="detail-form-label-input">
                <input ng-model="user.password" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="detail-form-label">FHIR Resource URL</label>
            <label class="detail-form-value-full">{{user.resourceUrl}}</label>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="form-btn btn btn-basic" ng-disabled="!createEnabled" type="button" ng-click="savePersona(user)"><i class="fa fa-save fa-lg"></i> Save</button>
    <button class="form-btn btn btn-cancel" type="button" ng-click="cancel()">Cancel</button>
</div>
