<div class="container-fluid" ng-controller="PractitionerViewController">
<div>THIS IS A TEST. Let's hope it works!</div>
    <div class="row">
        <div class="content-column" resize ng-style="scrollScreen(size.screenH, size.screenW) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight)" ng-class="showing.practitionerDetail ? 'col-lg-8 right-border' : 'col-lg-12'">
            <div class="slim-page-header">THIS IS A TEST. Let's hope it works! Choose a Practitioner Persona</div>
            <div ng-include="'static/js/templates/practitionerSearch.html'"></div>
        </div>
        <div class="col-lg-4 content-column left-border" ng-show="showing.practitionerDetail">
            <div class="details-header" resize ng-class="scrollWidth(size.screenW) ? 'details-vertical-scroll' : ''">
                <div class="slim-page-header">Practitioner Details</div>
            </div>
            <div ng-include="'static/js/templates/practitionerDetail.html'"></div>
        </div>
    </div>
</div>
