<div class="modal-header" style="background-color: #f82219">
   <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div>{{text}}</div>
    <div class="right-form-group">
        <label class="right-form-label">Type "DELETE"</label>
        <input ng-model="deleteText" class="right-form-input-box"/>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="!canDelete" class="form-btn btn btn-delete" type="button" ng-click="confirm(true)">{{ok}}</button>
    <button class="form-btn btn btn-cancel" type="button" ng-click="confirm(false)">{{cancel}}</button>
</div>
