<div class="settings-content">
    <div class="settings-item-text">{{oauthUser.name}}</div>
    <div class="settings-item-text">{{oauthUser.ldapId}}</div>

    <div class="settings-item" style="border-top: 1px solid #e6e6e6;" ng-click="signout()"><i class="fa fa-sign-out"></i> Sign Out</div>
</div>