<!DOCTYPE html>
<html lang="en" ng-app="sandManApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Optum Sandbox Manager</title>
    <!--<base href="/hspc-sandbox-manager/index.html">-->
    <!--<base href="/">-->

    <link rel="apple-touch-icon" sizes="57x57" href="static/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="static/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="static/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="static/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="static/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="static/images/favicons/manifest.json">
    <link rel="mask-icon" href="static/images/favicons/safari-pinned-tab.svg" color="#00749f">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/app.css">
    <style>
    </style>

    <!-- refresh after sign in -->
    <script>
        if (window.location.search.match("code=")){
            var newHash = "/after-auth" + window.location.search;
            if (window.history.replaceState){
                window.history.replaceState(
                        {},
                        "",
                        window.location.toString().replace(window.location.search, ""));
            }
            window.location.hash = newHash;
        }
    </script>

</head>

<!-- apply our angular app to our site -->
<body ng-app="sandManApp" ng-class="scrollScreen(size.screenH, size.screenW) ? 'full-screen-scroll' : 'full-screen'" screen-size ng-controller="navController">

<!-- NAVIGATION -->
<nav class="navbar" role="navigation" ng-show="showing.navBar">
    <div class="navbar-bars" ng-show="showing.moreLinks"><a tabindex="0" href="#" uib-popover-template="'static/js/templates/barsPopover.html'" popover-trigger="'focus'" popover-placement="bottom"><i class="fa fa-bars fa-lg"></i></a></div>
    <div class="navbar-img" style="cursor: pointer" ng-click="dashboard()" ng-cloak><img ng-style="imgStyle()" ng-src="{{mainImage}}" ng-srcset="{{mainImage2x}}" ng-cloak /><div ng-style="imgTextStyle()" ng-cloak> {{sandboxText}}</div></div>
    <div class="navbar-sandboxes" ng-show="showing.signout && dashboard.sandboxes.length > 0"><a tabindex="1" style="cursor: pointer"  href="#" uib-popover-template="'static/js/templates/sandboxPopover.html'" popover-trigger="'focus'" popover-placement="bottom">Sandboxes <i class="fa fa-sort-desc fa-lg"></i></a></div>
    <div class="navbar-stack-name" ng-show="showing.signout" ng-cloak>
    Welcome <a id="welcome" tabindex="2" href="#" uib-popover-template="'static/js/templates/settingsPopover.html'" popover-trigger="'focus'" popover-placement="bottom" ><span style="font-weight: bold">{{oauthUser.name}}</span></a></div>
    <div class="navbar-stack-sign-in" ng-show="showing.signin" ng-cloak>
        <a id="signin" ng-click="signin()"><i class="fa fa-sign-in"></i> Sign In</a>
    </div>
</nav>
<div class="blue-bar">
    <div class="blue-bar-title" ng-show="!showing.progress" ng-cloak>{{title.blueBarTitle}}</div>
    <div class="blue-bar-img" ng-show="showing.progress && whiteImage !== ''" ng-cloak><img ng-src="{{whiteImage}}" ng-srcset="{{whiteImage2x}}"/></div>
</div>

<div>
    <div class="row container-fluid">
        <div ng-class="showing.largeSidebar ? 'col-xs-2' : 'col-xs-1'" class="col-xs-2 sidebar"
            ng-show="showing.sideNavBar" ng-style="{height: sideNavHeight}">
            <div ng-include src="'static/js/templates/sideNav.html'"></div>
        </div>
        <div id="uiView" ng-class="showing.sideNavBar ? showing.largeSidebar ? 'col-xs-10' : 'col-xs-11' : 'col-xs-12'">
            <div ui-view></div>
        </div>
    </div>
</div>

<div class="message_area" style="top: 5px;">
    <div notification ng-repeat="message in messages"></div>
</div>

<footer ng-show="showing.footer" ng-cloak>
    <div class="container">
        <div class="copyright" ng-cloak resize ng-style="{textAlign: scrollWidth(750) ? 'left' : 'center', marginLeft: showCert ? '100px' : '0px'}">
            {{copyright}}
            <div ng-show="showCert"  class="site-seal" ng-include src="'static/js/templates/certificate.html'"></div>
        </div>
    </div>
</footer>

<!-- JS (load angular, ui-router, and our custom js file) -->
<script src="static/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="static/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="static/libs/angularjs/1.4.8/angular-sanitize.js"></script>
<script src="static/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="static/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script src="static/libs/moment/moment.min.js"></script>
<script src="static/libs/bootstrap/2.2/ui-bootstrap-tpls-2.2.0.min.js"></script>
<script src="static/css/bootstrap/bootstrap-filestyle.min.js"></script>

<script src="static/fhir-client/underscore-min.js"></script>
<script src="static/fhir-client/fhir-client.js"></script>
<script src="static/highcharts/highcharts.js"></script>
<script src="static/highcharts/highcharts-more.js"></script>
<script src="static/highcharts/highcharts-ng.min.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/controllers.js"></script>
<script src="static/js/services.js"></script>
<script src="static/js/config/env-info.jsp" type="application/javascript"></script>
<script src="static/js/filters.js"></script>
<script src="static/js/directives.js"></script>
<script src="static/js/branding/branded_text.js"></script>

</body>
</html>